@use "../../../assets/variables" as *;

.CardList {
  background-color: $color-background;
  border-radius: 10px;
}

.CardList--blank {
  color: $color-highlight;
  text-align: center;
  font-size: 20px;
  padding: 20vh 0px;
  padding-bottom: 100%;
}

@media screen and (min-width: $desktop-breakpoint) {
  .CardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
