@use "../../../assets/variables" as *;

.CardList {
  background-color: $color-background;
  border-radius: 10px;
}

@media screen and (min-width: $desktop-breakpoint) {
  .CardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
