//colour variables
$color-black: black;
$color-white: white;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik+Glitch&display=swap');
$font-title: Rubik Glitch, sans-serif;
$font-body: Inter, sans-serif;

//breakpoint variable
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;