//colour variables
$color-grey: #363333;
$color-background: #272121;
$color-highlight: #e16428;
$color-white: #f6e9e9;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik+Glitch&display=swap");
$font-title: Rubik Glitch, sans-serif;
$font-body: Inter, sans-serif;

//breakpoint variable
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
