@use "./assets/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font-body;
}

.header {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    font-family: $font-title;
}